

body {
	background-image:
		url("https://images.squarespace-cdn.com/content/v1/5c533c61e5f7d1726dd7a727/1553004037371-5VDR1JJN4GWYEKK8UKX7/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/IMG_0627.jpg?format=2500w");
	position: relative;
	min-height: 100vh;
	background-size: cover;
	z-index: -1;
	min-height: 100vh;
}

header {
	z-index: 1;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

body::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

footer {
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

.container-fluid h3 {
	color: white;
	background-color: darkolivegreen;
    text-align: center;
} 


 .row {
	display: flex;
	justify-content: center;
}

header {
	z-index: 1;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}

input {
	position: relative;
}

#log {
	display: inline;
}

main {
	margin: 25px;
}


 img {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	max-width: 400px;
	max-height: 230px; . modal { display : none; Hidden by default position
	: fixed; Stay in place z-index : 1; Sit on top padding-top : 100px;
	Location of the box left : 0;
	top: 0;
	width: 100%;
	Full
	width
	height
	:
	100%;
	Full
	height
	overflow
	:
	auto;
	Enable
	scroll
	if
	needed
	background-color
	:
	rgb(
	0
	,
	0
	,
	0
	);
	Fallback
	color
	background-color
	:
	rgba(
	0
	,
	0
	,
	0
	,
	0.4
	);
	Black
	w/
	opacity
} 



.modal {
	display: none;
	Hidden by default position : fixed; 
	Stay in place z-index: 1; Sit on top padding-top : 100px;
	Location of the box left : 0;
	top: 0;
	width: 100%;
	Fullwidthheight: 100%;
	Fullheightoverflow: auto;
	Enablescrollifneededbackground-color: rgb(0, 0, 0);
	Fallbackcolorbackground-color: rgba(0, 0, 0, 0.4);
}



Modal Content
.modal-header {
	background-color: #fefefe;
	margin: auto;
	padding: 16px 16px;
	border: 1px solid #888;
	width: 50%;
}
.modal-dialog {
	width: 360px;
}
The Close Button
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
}
